body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bg-gradient-custom {
    background: linear-gradient(to right, rgb(37, 111, 248), aqua);
}

.custom_fs{
    font-size: 1.8rem;
}

.cardService-container {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
  }
  
  .cardService-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .cardService {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
  }
  
  .cardService .img-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transition: scale 0.6s, rotate 0.6s, filter 1s;
  }
  
  .cardService .img-content svg {
    width: 50px;
    height: 50px;
    fill: #212121;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .cardService .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: #e8e8e8;
    padding: 20px 24px;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .cardService .content .heading {
    font-size: 32px;
    font-weight: 700;
  }
  
  .cardService:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
  
  .cardService:hover .img-content {
    scale: 2.5;
    rotate: 30deg;
    filter: blur(7px);
  }
  
  .cardService:hover .img-content svg {
    fill: transparent;
  }
  